@page
@model IotSignalR.Server.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h5 class="display-5">Connected Devices</h5>
    <div id="devices">
        
    </div>
    @* <ul id="devices"> *@
    @* </ul> *@
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/devices.js"></script>
