html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.table {
  border: 1px solid #dee2e6;
  border-collapse: collapse;
}

.table td, .table th {
  padding: 0.75rem;
  vertical-align: top;
  text-align: center;
  border: 1px solid #dee2e6;
}

.table th {
  background-color: #dee2e6;
}

.updated {
  animation: changeColor 2s 1;
}

@keyframes changeColor
{
  0%      {background:none;}
  25%     {background:palegreen;}
  75%     {background:palegreen;}
  100%    {background:none;}
}